
.nested {

    padding: 5px;
}

.nested_color {

    background-color: dodgerblue;
    border: 1px solid white;
}

.row {

    background-color: darkturquoise;
    width: 100%;
    
}

.container {

    max-width: 1024px;
    margin: auto;
    
}

